:root {
  --primary-color: #c4dae5;
  --secondary-color: #5c472c;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color: #222;
  scroll-behavior: smooth;
}

section {
  padding: 4rem 0;
}

.themed-bg {
  background-color: #c4dae5;
}

.hidden {
  display: none;
}

/*==================
 BUTTONS 
 ==================*/
.btn-primary {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.btn-primary:hover {
  background-color: #c4dae5;
  border: 1px solid #c4dae5;
}

/*==================
 NAV BAR 
 ==================*/
.navbar {
  padding: 0.8rem;
  background-color: #c4dae5 !important;
  box-shadow: 1px 1px 12px #808080c4;
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.navbar-toggler {
  outline-color: transparent !important;
}
/*==================
 INTRO 
 ==================*/
.intro {
  position: relative;
  width: 100%;
  height: 90%;
  background-image: linear-gradient(#c4dae591, #c4dae594),
    url("img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  color: #f2f5f7;
  text-align: center;
}

.intro-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 2px 3px 9px #0000009e;
}

.intro-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 2px 3px 5px #0000009e;
  padding-bottom: 1rem;
}

/*==================
 DONATION 
 ==================*/
form {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.donation,
.donationPreview {
  width: 49%;
}

label {
  display: block;
  margin: 1rem auto 0;
}

input,
select {
  color: var(--font-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 5px;
  display: block;
  margin-bottom: 1rem;
  width: 250px;
  text-align: center;
}

.donationPreview {
  height: 200px;
  border-radius: 5px;
}

.deduction {
  margin: 20px 0;
  color: var(--secondary-color);
  text-align: center;
}

/*==================
 ABOUT 
 ==================*/
#about {
  background-color: #c4dae5;
}

.col-lg-6 img,
.col-md-6 img {
  border: 35px solid var(--secondary-color);
  font-weight: 200;
}

/*==================
 PROGRAMS AND SERVICES 
 ==================*/
.cardHolder {
  max-width: 800px;
}
.card {
  margin-bottom: 15px;
}

.card-header {
  background-color: #c4dae5;
  padding: 0;
  overflow: hidden;
}

#programsAccordion a {
  color: #0000009e;
  width: 100%;
  margin: 0;
}

#programsAccordion a:hover {
  text-decoration: none;
  color: #000;
}

#programsAccordion .icon {
  color: #c4dae5;
  background-color: var(--secondary-color);
  text-align: center;
  font-size: 2rem;
}

.card-body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#marysTable .card-body {
  background-image: linear-gradient(#f4f9fbd9, #f4f9fbb8),
    url("img/mmcTable.png");
}

#foodBag .card-body {
  background-image: linear-gradient(#f4f9fbd9, #f4f9fbb8),
    url("img/foodBagProgram.png");
}

#showers .card-body {
  background-image: linear-gradient(#f4f9fbd9, #f4f9fbb8), url("img/shower.png");
}

#medicalScreening .card-body {
  background-image: linear-gradient(#f4f9fbd9, #f4f9fbb8),
    url("img/medical1.png");
}

#dentalClinic .card-body {
  background-image: linear-gradient(#f4f9fbd9, #f4f9fbb8),
    url("img/medical2.png");
}

#clothesCloset .card-body {
  background-image: linear-gradient(#f4f9fbd9, #f4f9fbb8), url("img/closet.png");
}

#childrensProg .card-body {
  background-image: linear-gradient(#f4f9fbd9, #f4f9fbb8),
    url("img/children.png");
}

#christmasParty .card-body {
  background-image: linear-gradient(#f4f9fbd9, #f4f9fbb8),
    url("img/christmas.png");
}

#vhm .card-body {
  background-image: linear-gradient(#f4f9fbd9, #f4f9fbb8),
    url("img/veronicasHomeOfMercyI.png");
}

#cm .card-body {
  background-image: linear-gradient(#f4f9fbd9, #f4f9fbb8),
    url("img/veronica2.png");
}

#mv .card-body {
  background-image: linear-gradient(#f4f9fbd9, #f4f9fbb8),
    url("img/marysVillage.png");
}

/*==================
 VOLUNTEER
 ==================*/

#volunteer .pullQuote {
  font-size: 2.25rem;
  color: var(--secondary-color);
  font-style: italic;
  text-align: center;
}

.volunteerOrganizations {
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-between;
}

.volunteerOrganizations img {
  height: 100px;
}

.waysToHelp {
  display: flex;
  justify-content: space-evenly;
}

.waysToHelp div {
  width: 250px;
  background-image: linear-gradient(-45deg, var(--secondary-color), #312002);
  color: white;
  margin: 1rem 0;
  padding: 0.5rem 1.5rem;
  clip-path: polygon(0 100%, 10% 50%, 0 0, 85% 0, 100% 50%, 85% 100%);
  text-transform: uppercase;
  border: none;
}

.waysToHelp a {
  color: white;
}

/*==================
 FUNDING
 ==================*/
#funding ul {
  list-style: none;
}

/*==================
 BOARD OF DIRECTORS 
 ==================*/
#boardOfDirectors li {
  list-style: none;
}

/*==================
 WHYMMC 
 ==================*/
/*FACTS*/
.stat-card {
  display: inline-block;
  width: 250px;
  height: 450px;
  color: white;
  perspective: 1000px;
  margin: 2rem auto;
}
.stat-card--container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.stat-card:hover .stat-card--container {
  transform: rotateY(180deg);
}

.stat-card--front,
.stat-card--back {
  position: absolute;
  box-shadow: 3px 5px 7px #848484;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, var(--secondary-color), #312002);
  backface-visibility: hidden;
}

.stat-card--back {
  transform: rotateY(180deg);
  padding: 1rem;
}

.stat-img {
  display: block;
  width: 100%;
}

.stat-num {
  display: block;
  font-size: 3rem;
  text-align: center;
  margin: 1rem 0 0.5rem;
}

.stat-text {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.stat-content {
  text-align: center;
}

.stat-src {
  position: absolute;
  bottom: 1rem;
  font-style: italic;
}

/*==================
 FOOTER 
 ==================*/
#contactUs {
  background-color: var(--secondary-color);
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

#contactUs a {
  color: #d5d5d5;
}

#contactUs a:hover {
  color: #f2f5f7;
  text-decoration: none;
  font-weight: bold;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.soc-media {
  font-size: 2.5rem;
}

/*---Media Queries --*/

@media (max-width: 768px) {
  .intro-caption {
    top: 45%;
  }
  .intro-caption h1 {
    font-size: 350%;
  }
  .intro-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }
  .intro-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%;
  }

  form {
    flex-direction: column-reverse;
  }
  .donation,
  .donationPreview {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .intro-caption {
    top: 40%;
  }
  .intro-caption h1 {
    font-size: 250%;
  }
  .intro-caption h3 {
    font-size: 110%;
  }
  .intro-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .display-4 {
    font-size: 160%;
  }
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
